{% for comment in comments %}
    <article class="comment {{ cycle(['odd', 'even'], loop.index0) }}" id="comment-{{ comment.id }}">
        <header>
            <p><span class="highlight">{{ comment.user }} |</span> Дата <time datetime="{{ comment.created|date('c') }}">{{ comment.created|date('H:i:s d-m-Y') }}</time></p>
        </header>
        <p>{{ comment.comment }}</p>
    </article>
{% else %}
    <p>К этой записи ещё никто не добавил комментариев.</p>
{% endfor %}